cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.6
goodguy-pytools==1.0.1
grpcio==1.40.0
grpcio-tools==1.40.0
idna==3.2
lxml==4.6.3
protobuf==3.17.1
pydantic==1.8.2
PyYAML==5.4.1
readerwriterlock==1.0.9
requests==2.26.0
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.26.6
wrapt==1.13.0rc3
